.loader {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}

.loaderItem {
  width: 15px;
  height: 15px;
  background-color: #007bff;
  border-radius: 50%;
  animation: noteLoader 1.4s ease-in-out infinite both;
}

.loaderItem:nth-child(1) {
  animation-delay: -0.32s;
}

.loaderItem:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes noteLoader {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
