.section {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 250px;
  background-color: #353535;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.notesWrapper {
  width: 100%;
}
