:root {
  --background: #ffffff;
  --foreground: #353535;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #353535;
    --foreground: D2D7DF;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #d2d7df;
}
main {
  flex: 1;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
