.app {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
}

.toolbar {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  background-color: #d2d7df;
  border-bottom: 1px solid #8a897c;
}

.button {
  padding: 6px 12px;
  font-size: 16px;
  color: #fff;
  background-color: #8a897c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #bdbbb0;
}
.loading {
  color: #353535;
}
